body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #1b1b1b, #000000);
  font-family: 'Poppins', sans-serif;
}

.clock-container {
  background: rgba(17, 17, 17, 0.8);
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5), 0 0 30px rgba(0, 255, 255, 0.5), 0 0 60px rgba(0, 255, 255, 0.3);
  transform: rotateX(25deg);
  animation: float 5s infinite ease-in-out, pulse 2s infinite;
  position: relative;
}

@keyframes float {
  0%, 100% {
      transform: translateY(0) rotateX(25deg);
  }
  50% {
      transform: translateY(-20px) rotateX(25deg);
  }
}

@keyframes pulse {
  0% {
      box-shadow: 0 0 15px rgba(0, 255, 255, 0.5), 0 0 30px rgba(0, 255, 255, 0.3);
  }
  50% {
      box-shadow: 0 0 30px rgba(0, 255, 255, 0.7), 0 0 60px rgba(0, 255, 255, 0.5);
  }
  100% {
      box-shadow: 0 0 15px rgba(0, 255, 255, 0.5), 0 0 30px rgba(0, 255, 255, 0.3);
  }
}

.clock {
  color: #00FFFF;
  font-size: 4.5em;
  font-weight: bold;
  letter-spacing: 3px;
  text-shadow: 0 0 20px rgba(0, 255, 255, 0.8), 0 0 30px rgba(0, 255, 255, 0.5);
  text-align: center;
  position: relative;
}

.clock:hover {
  transform: scale(1.1);
  text-shadow: 0 0 30px rgba(0, 255, 255, 1), 0 0 60px rgba(0, 255, 255, 0.8);
}

@media (max-width: 768px) {
  .clock-container {
      padding: 30px;
  }
  
  .clock {
      font-size: 3em;
  }
}
